<div style="border: 1px solid black;padding: 20px;margin-top:20px;background-color:{{bgColor">
  <h1>Child: Hello component</h1>
  <div>{{ helloComponentRendering() }}</div>
  <!-- <div>{{ 'Angular version from parent : ' + name }}</div>
  <div>{{ 'Customer name from parent : ' + customer?.name }}</div>
  <div>{{ 'Customer Age from parent : ' + customer?.age }}</div>

  <div *ngIf="loading" style="" style="background-color: yellow;margin-bottom: 10px;border: 1px solid black;padding: 20px;margin-top:20px">
    Data is loading....
  </div>
  <div style="margin-bottom: 10px">
  <button (click)="loading =!loading">Change Loader</button>
  </div> -->
</div>